<ion-header>

  <ion-navbar>
    <ion-title>Barcode/QR Scanner v1.0 </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="scan()">Scan ... </button>
  <div *ngIf="scanData">
    <p>Scanned Text : {{ scanData.text }}</p>
    <p>Scanned Format : </p>
  </div>
</ion-content>
