
<super-tabs>
  <super-tab [root]="page1" title="Biblioteca"></super-tab>
  <super-tab [root]="page2" title="Recomendações"></super-tab>
</super-tabs>

<ion-fab right bottom>
  <button ion-fab mini class="help" (click)="openHelp()" end>
    <div class="warpper-padding">
      <ion-icon name="help"></ion-icon>
      <p class="legenda">Ajuda</p>
    </div>
  </button>


  <button ion-fab mini class="mic" (click)="voiceCommand()">
    <div class="warpper-padding">
      <ion-icon name="mic"></ion-icon>
      <p class="legenda">Voz</p>
    </div>
  </button>
</ion-fab>
