page-home {

  .tutorial-page {

    .toolbar-background {
      background: #fff;
      border-color: transparent;
    }

    .slide-zoom {
      height: 100%;
    }

    .slide-title {
      margin-top: 2.8rem;
    }

    .slide-image {
      max-height: 50%;
      max-width: 75%;
      margin: 0;
    }

    b {
      font-weight: 500;
    }

    p {
      padding: 0 20px;
      font-size: 14px;
      line-height: 1.5;
      color: #60646B;
      font-size: 1.8rem;

      b {
        color: #000000;
      }
    }
  }
}

.bar-button-md:first-child {
  margin-left: 0;
  color: #005b96;
  font-size: 2rem;
}
