<ion-header>
  <ion-navbar>
    <ion-title *ngIf="login == true">Ajuda</ion-title>
    <ion-title *ngIf="login == false">Início</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">

  <ion-slides pager *ngIf="login == false">
    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        <ion-buttons end>
          <!--<button ion-button color="primary" *ngIf="login == true" (click)="openMain()">Skip</button>-->
        </ion-buttons>
      </ion-toolbar>
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>

    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="assets/imgs/ica-slidebox-img-6.png" class="slide-image"/>
      <h2 class="slide-title">Pronto para começar?</h2>
      <p>Aponte o seu telemóvel para o código QR na sua box e aperte o botão <b>'entrar'</b></p>
      <button ion-button (click)="scan()">Entrar...</button>
      <div *ngIf="scanData">
        <p>Scanned Text : {{ scanData.text }}</p>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-slides pager *ngIf="login == true">
    <ion-slide *ngFor="let slide of slides2">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary" (click)="openMain()">Sair</button>
        </ion-buttons>
      </ion-toolbar>
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>

    <ion-slide >
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary" (click)="openMain()">Sair</button>
        </ion-buttons>
      </ion-toolbar>
      <img src="assets/imgs/tutorial-5.png" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="">Como usar comandos de voz?</h2>
      <p [innerHTML]="">Para usar <b>comandos de voz</b> pressione o <b>botão voz</b> e diga o <b>canal</b> que pretende ver.</p>
    </ion-slide>
  </ion-slides>
</ion-content>
