<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Pesquisar"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let video of (videos)" (click)="presentConfirm(video.url, video.id)">
      <ion-thumbnail item-start>
        <img src="assets/imgs/{{video.image}}">
        <p class="duration">{{video.duration}}</p>
      </ion-thumbnail>
      <div class="title" text-wrap>{{video.title}}</div>
      <p class="data">
        <span class="data-left">{{video.asgieName}}</span>
        <span class="data-right">{{video.date}}</span>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
