ion-searchbar{
  padding: 0 !important;
}

.alert-md .alert-button{
  font-size: 1.9rem;
  padding: 20px
}

.alert-md .alert-title {
  font-size: 28px;
}

ion-item{
  border-bottom: 0.55px solid #c8c7cc !important;
  padding: 0 !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  background-color: transparent !important;

  .item-inner{
    border-bottom:none !important;
    padding: 0 !important;
  }

  ion-label{
    height: 100% !important;
    position: relative;

    margin-right: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    .title {
      position: absolute;
      top: 0 !important;
      width: 100%;
      height: 65%;
      font-size: 1.7rem !important;


      line-height: 1.4;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .data{
      width: 100%;
      position: absolute;
      bottom:0 !important;
      font-size: 1.7rem !important;

      .data-left{
        float: left;
      }

      .data-right{
        float: right;
      }
    }
  }

  ion-thumbnail{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    position: relative !important;

    img {
      width: 110px !important;
      height: 110px !important;
    }

    .duration{
      position: absolute;
      bottom: -2px;
      right: 0px;
      padding: 2px;
      background-color: rgba(255,255,255,0.5);
    }
  }
}
