<ion-content>
  <div id="clapprPlayer">
    <button ion-fab mini class="exit" (click)="closeVideo()" end>
      <div class="warpper-padding">
        <ion-icon name="ios-close-circle-outline"></ion-icon>
        <p class="legenda">Sair</p>
      </div>
    </button>
  </div>
</ion-content>
